DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ping"
JWT_SECRET="supersecretjwtkey123"
NEXT_PUBLIC_API_URL="http://localhost:5000"
UPLOADTHING_SECRET="sk_live_replace_me"
UPLOADTHING_APP_ID="replace_me"
